body {
  background-color: #111;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
}

a {
  color: #9cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 10rem;
    object-fit: contain;
}
.DEPLOYED{
    background-color: #3a9e43;
}
.DEPLOYED:hover{
    background-color: #27702d;
}


/* Estilos para desktop */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #000;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    margin: 2em;
  }

  section {
    border-radius: 1em;
    box-shadow: 0 0 1em #333;
    padding: 2em;
    transition: background-color 0.2s ease-in-out;
  }

  section:hover {
    background-color: #333;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }
}

/* Estilos para mobile */
@media screen and (max-width: 767px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #000;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  main {
    margin: 2em;
  }

  section {
    border-radius: 1em;
    box-shadow: 0 0 1em #333;
    padding: 1em;
    margin-bottom: 1em;
    transition: background-color 0.2s ease-in-out;
  }

  section:hover {
    background-color: #333;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
  }
}
